/* Use a consistent green across both light and dark themes */
html[data-theme="light"] {
  --pst-color-primary: rgb(116, 184, 104); /* Bootstrap success green */
}

html[data-theme="dark"] {
  --pst-color-primary: rgb(116, 184, 104); /* Adjust for contrast if needed */
}

/* Light theme overrides */
html[data-theme="light"] {
  --pst-color-primary: rgb(116, 184, 104);       /* green */
  --pst-color-link-hover: rgb(255, 193, 9);    /* darker green on hover */
}

/* Dark theme overrides */
html[data-theme="dark"] {
  --pst-color-primary: rgb(116, 184, 104);       /* green */
  --pst-color-link-hover: rgb(255, 193, 9);     /* brighter green for contrast in dark mode */
}

/* Shared styling for all logos */
.landing-logo {
    width: 80%;
    background: transparent !important;
    /* margin: 0 auto; */
}

/* Hide both by default */
.logo-light,
.logo-dark {
    display: none;
}

/* Show light logo in light theme */
html[data-theme="light"] .logo-light {
    display: flex;
}

/* Show dark logo in dark theme */
html[data-theme="dark"] .logo-dark {
    display: flex;
}

/* Download button notebook styling */
.download-ipynb-button {
    background-color: rgb(116, 184, 104);
    color:rgb(49, 49, 49);
    padding: 0.5em 1em;
    border-radius: 6px;
    font-weight: bold;
}
.download-ipynb-button:hover {
    background-color: rgb(49, 49, 49);
    color: rgb(255, 193, 9);
}
