name: deploy-book

# Run this when the main branch changes
on:
  push:
    branches:
    - main

  workflow_dispatch:
 
jobs:
  deploy-book:
    runs-on: ubuntu-latest

    steps:
      # Checkout the repository
      - name: Checkout repository
        uses: actions/checkout@v3

      # Set up Python
      - name: Set up Python
        uses: actions/setup-python@v4
        # with:
        #   python-version: 3.12

      # Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # Build the book
      - name: Build the book
        run: |
          chmod +x ./build.sh
          ./build.sh
          touch ./_build/.nojekyll

      # Deploy the book
      - name: Deploy the book
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_build/html
          keep_files: false
          force_orphan: true
